<div class="form-group-row">
  <%= f.label :氏名, class:"col-2" %>
  <%= f.text_field :family_name, autofocus: true, class:"mr-5" %>
  <%= f.text_field :first_name %>
</div>
<div class="form-group-row">
  <%= f.label :フリガナ, class:"col-2" %>
  <%= f.text_field :family_name_kana, class:"mr-5" %>
  <%= f.text_field :first_name_kana %>
</div>
<div class="form-group-row">
  <%= f.label :郵便番号, class:"col-2" %>
  <%= f.text_field :postal_code %>
</div>
<div class="form-group-row">
  <%= f.label :住所, class:"col-2" %>
  <%= f.text_field :address, class: "col-9" %>
</div>
<div class="form-group-row">
  <%= f.label :電話番号, class:"col-2" %>
  <%= f.text_field :telephone_number %>
</div>
<div class="form-group-row">
  <%= f.label :メールアドレス, class:"col-2" %>
  <%= f.text_field :email %>
</div>