<div class="container">
  <%= render "layouts/error_messages", model: @genre%>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="bg-light orange d-inline-block px-4 mx-5 mb-3"><i class="fas fa-columns dark-brown"></i> ジャンル一覧・追加</h3>
    </div>
  </div>

  <div class="col-lg-8">
    <%= form_with model: @genre,url: admin_genre_path do |f| %>
      <strong><%= f.label :"ジャンル名", class: "col-sm-3 control-label" %></strong>
      <span class="mr-5"><%= f.text_field :name  %></span>
  	  <%= f.submit "ジャンル名更新", class: "btn bg-orange-dark " %>
    <% end %>
  </div>
</div>