<div class="container">
  <div id="erorr">
    <%= render "layouts/error_messages", model: @genre %>
  </div>
  <div class="row">
    <h3 class="bg-light orange d-inline-block px-4 mx-5 mb-3"><i class="fas fa-columns dark-brown"></i> ジャンル一覧・追加</h3>
  </div>
  <div class="col-lg-8">
    <%= form_with model: @genre,url: admin_genres_path, method: :post, class: "js-form", local: false do |f| %>
      <strong><%= f.label :"ジャンル名", class: "col-sm-3 control-label" %></strong>
      <span class="mr-5"><%= f.text_field :name  %></span>
    	 <%= f.submit "新規登録", class: "btn bg-orange-dark col-sm-2 " %>
    <% end %>
  </div>

  <div id="index">
    <%= render "genre_index", genres: @genres %>
  </div>
</div>