<table style="width: 800px;" class="table table-bordered">
  <thead>
    <tr>
      <th class="col-2">郵便番号</th>
      <th>住所</th>
      <th class="col-2">宛名</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% address_dates.each do |address_date| %>
      <tr>
        <td><%= address_date.postal_code %></td>
        <td><%= address_date.address %></td>
        <td><%= address_date.name %></td>
        <td class="d-flex justify-content-center">
          <%= link_to "編集する", edit_shipping_address_path(address_date), class: "btn btn-success mr-3" %>
          <%= link_to "削除する", shipping_address_path(address_date), method: :delete, class: "btn btn-danger" %>


        </td>
      </tr>
    <% end %>
  </tbody>

</table>