<div class="contanier">
  <div class="row">
    <div class="col-10">
      <% if @cart_items.present? %>
        <h3 class="bg-light d-inline-block px-4 mx-5">ショッピングカート</h3>
        <div class="btn btn-sm btn-danger">
          <%= link_to "カートを空にする", empty_path, method: :delete %>
        </div>
        <table>
          <thead>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td><%= cart_item.item.get_item_image(30,30) %><%= cart_item.item.name %></td>
                <td><%= cart_item.item.with_tax_price %></td>
                <td><%= cart_item.quantity %></td>
                <td><%= cart_item.subtotal %></td>
                <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-sm btn-danger" %></td>
                <% @合計金額 +=  cart_item.subtotal %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <%= link_to "買い物を続ける", items_path, class: "btn btn-sm btn-primary" %>
          <p>合計金額</p>
        </div>
      <% else %>
        <h3 class="bg-light d-inline-block px-4 mx-5">ショッピングカート</h3>
        <p>商品がありません。</p>
      <% end %>
    </div>
  </div>
</div>