<div class="container px-4">
  <h3 class="bg-light d-inline-block px-4 mx-5">注文履歴一覧</h3>

  <div class="container my-3">
    <% if @orders.any? %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>注文日</td>
            <td class="col-5">配送先</td>
            <td class="col-2">注文商品</td>
            <td>支払金額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td class="align-middle"><%= order.created_at.strftime('%Y/%m/%d')%></td>
              <td>〒<%= order.postal_code%><br>
                  <%= order.address %><br>
                  <%= order.name %>
              </td>
              <td class="align-middle">
                <ul>
                  <% order.items.each do |item| %>
                    <li style="list-style: none;"><%= item.name %></li>
                  <% end %>
                </ul>
              </td>
              <td class="align-middle"><%= order.billing_amount %></td>
              <td class="align-middle"><%= order.order_status_i18n %></td>
              <td class="align-middle"><%= link_to "表示する", order_path(order), class: "btn btn-sm btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3 class="text-center">注文はありません</h3>
    <% end %>
  </div>
</div>