<div class="container－fluid takasa">
  <div class="row">
    <%= render "sidebar", genres: @genres %>
 <div class="col-lg-7">
     <% if params[:format] %>
        <h2><%= @genre.name %>一覧<span style="font-size:20px;">（全<%= @quantity %>件）</span></h2><br>
     <% else %>
  	     <h2>商品一覧<span style="font-size:20px;">（全<%= @quantity %>件）</span></h2><br>
  	 <% end %>
  	    <div class="row">
  	 <% @items.each do |item| %>
        <div class="box" style="float:left; margin-right:20px;">
    <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_item_image(200,200) %><br>
    <% end %>
        <p><%= item.name %></p>
        <p>¥<%= (item.with_tax_price).to_s(:delimited) %></p>
        </div>
      </div>
    </div>
  </div>
</div>