<nav class="navbar navbar-expand-lg border-bottom mb-4">
  <div class="container">
    <div class="navbar-brand">
      <h1 class="px-5 py-1 border"><%= link_to "LOGO", root_path %></h1>
    </div>
    <% if customer_signed_in? %>
    <div class="center">
      <p>ようこそ、<%= customer.family_name %>さん！</p>
    </div>
    <% end %>
    <div class="d-flex align-items-end justify-content-center flex-column bd-highlight mb-3 mt-2" style="height: 80px;">
      <ul class="navbar-nav mb-2">
        <% if customer_signed_in? %>
        <li class="nav-link border px-3"><%= link_to "マイページ", customers_path %></li>
        <li class="nav-link border px-3 ml-4"><%= link_to "商品一覧", items_path %></li>
        <li class="nav-link border px-3 ml-4"><%= link_to "カート", cart_items_path %></li>
        <li class="nav-link border px-3 ml-4"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        <% else %>
        <li class="nav-link border px-3"><%= link_to "About", about_path %></li>
        <li class="nav-link border px-3 ml-4"><%= link_to "商品一覧", items_path %></li>
        <li class="nav-link border px-3 ml-4"><%= link_to "新規登録", new_customer_registration_path %></li>
        <li class="nav-link border px-3 ml-4"><%= link_to "ログイン", new_customer_session_path %></li>
        <% end %>

      </ul>
      <div class="search_form mt-2">
        <input value="Search" class="form-control">
      </div>
    </div>
  </div>
</nav>